.content__type {
     color: hsl(158, 36%, 37%);
     text-transform: uppercase;
     letter-spacing: 4px;
}

.content__title {
     width: 82%;
     color: hsl(212, 21%, 14%);
     font-family: 'Fraunces', serif;
     font-size: 34px;
}

.content__text {
     width: 84%;
     color: hsl(228, 12%, 48%);
     line-height: 1.6rem;
}