html {
     height: 100vh;
}

body {
     height: 100%;
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: hsl(30, 38%, 92%);
}

.container {
     display: grid;
     grid-template-columns: 45%;
     grid-template-areas: 
          "img img content"
     ;
     max-width: 650px;
     border-radius: 10px;
     background-color: hsl(0, 0%, 100%);
}

.container__img {
     grid-area: img;
     width: 100%;
     height: 100%;
     border-radius: 10px 0 0 10px;

     background-image: url('../images/image-product-desktop.jpg');
     background-position: center;
     background-size: cover;
}

.container__content {
     grid-area: content;
     padding: 32px 30px;

     font-family: 'Montserrat', sans-serif;
}